@font-face {
	font-family: 'Proxima Nova Cn Rg';
	src: url('ProximaNovaCond-Regular.eot');
	src: local('Proxima Nova Condensed Regular'), local('ProximaNovaCond-Regular'),
		url('ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/ProximaNova/ProximaNovaCond-Regular.woff') format('woff'),
		url('ProximaNovaCond-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}